
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @CustomHTML.Image("https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png", "This is image")
    </div>
    <br />
    <br />
    <hr />
    <br />
    <br />
    <div>
        @Html.img("https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png", "This is image")
    </div>
    <br />
    <br />
    <hr />
    <br />
    <br />
    <div>
        @Html.imageTag("https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png", "This is image")
    </div>
</body>
</html>
