
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<header style="height:200px; background-color:blue">
        <h2>This is Header</h2>
    </header>*@
    <div>
        <h1>
            This is my Index Page
        </h1>
        <a href="/Employee">Get List</a><br />
        <a href="/New-Employee">Add New Employee</a><br />
    </div>
    @*<footer style="height:100px; background-color:black">
        <h4>This is Footer &copy;2021</h4>
    </footer>*@
</body>
</html>
