@model Validation_in_MVC_with_strongly_binding.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submitData</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
