
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewView</title>
</head>
<body>
    <div>
        <h1>Hello, I am from MyView & NewView Action Method</h1>
    </div>
    <div>
        <a href="/home/Index">Home/Index</a><br />
        <a href="/home/aboutus">Home/Aboutus</a><br />
        <a href="/Employee/Index">Employee/Index</a><br />
        <a href="/Employee/aboutus">Employee/Aboutus</a><br />
    </div>
</body>
</html>
