
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addEmployee</title>
</head>
<body>
    @*<header style="height:200px; background-color:blue">
        <h2>This is Header</h2>
    </header>*@
    <div> 
        <h1>
            this is my Add Employee Page
        </h1>
    </div>
    @*<footer style="height:100px; background-color:black">
        <h4>This is Footer &copy;2021</h4>
    </footer>*@
</body>
</html>
